<div class="row justify-content-center mt-5">
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header bg-success text-white text-center">
        <h4>Crear Cuenta</h4>
      </div>
      <div class="card-body">
        
        <div *ngIf="error" class="alert alert-danger p-2 text-center">
          {{ error }}
        </div>

        <form (ngSubmit)="onRegister()">
          <div class="mb-3">
            <label class="form-label">Nombre Completo</label>
            <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Tu Nombre" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="usuario@ejemplo.com" required>
          </div>
          
          <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Mínimo 6 caracteres" required>
          </div>

          <button type="submit" class="btn btn-success w-100 fw-bold">Registrarse</button>
        </form>

        <div class="text-center mt-3">
          <span class="text-muted">¿Ya tienes cuenta?</span>
          <br>
          <a routerLink="/login" class="text-decoration-none fw-bold">Inicia Sesión aquí</a>
        </div>

      </div>
    </div>
  </div>
</div>