<div class="row justify-content-center align-items-center min-vh-100" style="margin-top: -3rem;">
  <div class="col-12 col-md-6 col-lg-4">
    
    <div class="text-center mb-4">
      <div class="bg-success bg-opacity-10 text-success rounded-circle d-inline-flex p-3 mb-3">
        <i class="bi bi-person-plus-fill display-4"></i>
      </div>
      <h2 class="fw-bold">Crear Cuenta</h2>
      <p class="text-muted">Únete a Bibliotech gratis</p>
    </div>

    <div class="card shadow-lg border-0">
      <div class="card-body p-4 p-md-5">
        
        <div *ngIf="error" class="alert alert-danger d-flex align-items-center small" role="alert">
          <i class="bi bi-exclamation-octagon-fill me-2"></i>
          <div>{{ error }}</div>
        </div>

        <form (ngSubmit)="onRegister()">
          
          <div class="mb-4">
            <label class="form-label text-muted small fw-bold">NOMBRE COMPLETO</label>
            <div class="input-group">
              <span class="input-group-text bg-light border-end-0 text-muted"><i class="bi bi-person"></i></span>
              <input type="text" class="form-control border-start-0 ps-0 bg-light" [(ngModel)]="name" name="name" placeholder="Tu nombre" required>
            </div>
          </div>

          <div class="mb-4">
            <label class="form-label text-muted small fw-bold">EMAIL</label>
            <div class="input-group">
              <span class="input-group-text bg-light border-end-0 text-muted"><i class="bi bi-envelope"></i></span>
              <input type="email" class="form-control border-start-0 ps-0 bg-light" [(ngModel)]="email" name="email" placeholder="nombre@correo.com" required>
            </div>
          </div>
          
          <div class="mb-4">
            <label class="form-label text-muted small fw-bold">CONTRASEÑA</label>
            <div class="input-group">
              <span class="input-group-text bg-light border-end-0 text-muted"><i class="bi bi-lock"></i></span>
              <input type="password" class="form-control border-start-0 ps-0 bg-light" [(ngModel)]="password" name="password" placeholder="Mínimo 6 caracteres" required>
            </div>
          </div>

          <button type="submit" class="btn btn-success w-100 py-2 shadow-sm mb-3 fw-bold tracking-wide">
            REGISTRARSE
          </button>
        </form>

        <div class="text-center border-top pt-4 mt-2">
          <span class="text-muted small">¿Ya tienes una cuenta?</span>
          <a routerLink="/login" class="text-decoration-none fw-bold ms-1 text-success">Inicia Sesión</a>
        </div>

      </div>
    </div>
  </div>
</div>